.accordion-container {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.accordion-item {
  margin-bottom: 1rem;
  border: 1px solid #0079ad;
  tabindex: 0;
}

.accordion-header {
  background-color: #0e4066;
  border: none;
  padding: 10px;
  color: #fffce8;
  width: 100%;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease-out;
}

.accordion-header:hover {
  background-color: #0f2e47;
}

.accordion-header:focus {
  outline: 1px solid #005fcc;
  background-color: #0f2e47;
}
/* 
.accordion-header:focus + .accordion-content {
  outline: 1px solid #005fcc;
}
 */
.accordion-content {
  max-height: 0;
  padding: 0 10px;
  overflow: hidden;
  color: #fff;
  transition: max-height 0.3s ease-out;
}

.accordion-content p {
  margin: 15px 0;
}

.accordion-content.active {
  max-height: 500px;
}
